.cartCard .ant-row .ant-col{
    box-sizing: border-box;
    padding-left: 5px;


}

.cartCard{
   
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.skewBox{
    display: flex;
    flex-direction: row;
    position: relative;
}

.skewLeft{
    transform: skew(20deg, 0deg);
    height: 100%;
    position: absolute;
    width: 15%;
    background-color: #6A8AB5;
    margin-right: 100px;
}



.skewRight{
    width: 90%;
    background-color: #6A8AB5;
    margin-left: 10%;
}